body{
  background-image: url("../img/a.png");
}
/*阿斯顿发送到发阿斯顿发送到发*/
p{
  background-image: url("../img/logo1.png");
}
div{
  background-image: url("../../assets/logo.png");
}
body{
  background-image: url("../img/a.png");
}
p{
  background-image: url("../img/logo1.png");
}
div{
  background-image: url("../../assets/logo.png");
}
